<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Acceso no autorizado</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/icons/icomoon/styles.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/components.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/colors.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/extras/animate.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/core.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
    {% endblock %}
</head>
<body class="navbar-top has-detached-left" data-spy="scroll" data-target=".sidebar-detached">

{% include 'Helper/main_navbar.html.twig' %}

<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-fixed  sidebar-default">
            <div class="sidebar-content">
                {% include 'Helper/user_menu.html.twig' %}
            </div>
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">

                <div class="text-center content-group">
                    <img src="https://365diasporelmundo.files.wordpress.com/2015/05/denied.png"
                         alt="Acceso denegado"
                         width="500"
                         height="250">
                    <h5>¡Oops, ha ocurrido un error! <a href="{{ path('default.index') }}">Haz clic para regresar</a></h5>
                </div>

                <!-- Footer -->
                {% include 'Helper/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('theme/assets/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/plugins/loaders/blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/plugins/loaders/blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/plugins/notifications/pnotify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/plugins/ui/headroom/headroom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/plugins/ui/headroom/headroom_jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/pages/layout_fixed_custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/pages/layout_navbar_hideable_sidebar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/assets/js/core/app.min.js') }}"></script>
{% endblock %}
</body>
</html>
