{% extends 'base.html.twig' %}
{% block title %}SBYM - Bitacora{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">Bitacora<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tabla</th>
                            <th>Campo editado</th>
                            <th>Valor anterior</th>
                            <th>Valor nuevo</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for b in bitacora %}
                            <tr>
                                <td>{{ b.tabla }}</td>
                                <td>{{ b.campo }}</td>
                                <td>{{ b.old }}</td>
                                <td>{{ b.new }}</td>
                                <td>{{ b.usuario }}</td>
                                <td>{{ b.fecha|date('d-m-Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}