{% extends 'base.html.twig' %}
{% block title %}SBYM - Alta de administradoras{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ form.vars.action }}"
                  method="{{ form.vars.method }}"
                  class="form-horizontal">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Alta de administradoras<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                    </div>

                    <div class="panel-body text-danger">
                        {{ form_errors(form) }}
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Dependencia<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <select name="{{ form.dependencia.vars.full_name }}"
                                        id="{{ form.dependencia.vars.id }}"
                                        class="form-control"
                                        required
                                >
                                    {% for dependencia in form.dependencia.vars.choices %}
                                        <option value="{{ dependencia.value }}" {{ form.vars.value is not null ? form.vars.value.dependencia.id == dependencia.value ? 'selected' }}>{{ dependencia.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nombre<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.nombre.vars.full_name }}"
                                       id="{{ form.nombre.vars.id }}"
                                       value="{{ form.nombre.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Teléfono<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.telefono.vars.full_name }}"
                                       id="{{ form.telefono.vars.id }}"
                                       value="{{ form.telefono.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Extensión<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.extension.vars.full_name }}"
                                       id="{{ form.extension.vars.id }}"
                                       value="{{ form.extension.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Celular<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.celular.vars.full_name }}"
                                       id="{{ form.celular.vars.id }}"
                                       value="{{ form.celular.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Correo<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="email"
                                       name="{{ form.correo.vars.full_name }}"
                                       id="{{ form.correo.vars.id }}"
                                       value="{{ form.correo.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Observaciones</label>
                            <div class="col-lg-9">
                                <textarea name="{{ form.observaciones.vars.full_name }}"
                                          id="{{ form.observaciones.vars.id }}"
                                          class="form-control"
                                          cols="30"
                                          rows="6">{{ form.observaciones.vars.value }}</textarea>
                            </div>
                        </div>

                        <div class="text-right">
                            <a href="{{ path('contacto.listar') }}" class="btn btn-danger">Cancelar<i class="position-right"></i></a>
                            <button type="submit" class="btn btn-success">Enviar<i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}