{% extends 'base.html.twig' %}
{% block title %}SBYM - Administradoras{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">{{ msg }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">Administradores<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                        <div class="col-md-2 pull-right">
                            <a href="{{ path('contacto.alta') }}" class="btn btn-success btn-block">Agregar</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Dependencia</th>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Celular</th>
                            <th>Extensión</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contacto in contactos %}
                            <tr>
                                <td>{{ contacto.dependencia.nombre }}</td>
                                <td>{{ contacto.nombre }}</td>
                                <td>{{ contacto.telefono }}</td>
                                <td>{{ contacto.celular }}</td>
                                <td>{{ contacto.extension }}</td>
                                <td>{{ contacto.correo }}</td>
                                <td>
                                    <ul class="icons-list">
                                        <li class="text-primary-600"><a href="{{ path('contacto.editar', {contacto: contacto.id}) }}"><i class="icon-pencil7"></i></a></li>
                                        <li class="text-danger-600">
                                            <a href="#"
                                               data-url="{{ path('contacto.eliminar', {contacto: contacto.id}) }}"
                                               class="js-eliminar-entity"
                                            >
                                                <i class="icon-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}