{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block contentArea %}
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body panel-body-accent">
            <div class="media no-margin">
                <div class="media-left media-middle">
                    <i class="icon-connection icon-3x text-orange-400"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="no-margin text-semibold">{{ aps|length }}</h3>
                    <span class="text-uppercase text-size-lg text-bold">total AP'S</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body panel-body-accent">
            <div class="media no-margin">
                <div class="media-left media-middle">
                    <i class="icon-arrow-up16 icon-3x text-green-400"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="no-margin text-semibold">{{ apsUP|length }}</h3>
                    <span class="text-uppercase text-size-lg text-bold">total AP'S UP</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body panel-body-accent">
            <div class="media no-margin">
                <div class="media-left media-middle">
                    <i class="icon-arrow-down16 icon-3x text-danger-400"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="no-margin text-semibold">{{ apsDOWN|length }}</h3>
                    <span class="text-uppercase text-size-lg text-bold">total AP'S DOWN</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body panel-body-accent">
            <div class="media no-margin">
                <div class="media-left media-middle">
                    <i class="icon-library2 icon-3x text-slate-400"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="no-margin text-semibold">{{ dependencias|length }}</h3>
                    <span class="text-uppercase text-size-lg text-bold">total dependencias</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body panel-body-accent">
            <div class="media no-margin">
                <div class="media-left media-middle">
                    <i class="icon-users4 icon-3x text-indigo-400"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="no-margin text-semibold">{{ usuarios|length }}</h3>
                    <span class="text-uppercase text-size-lg text-bold">total usuarios en el sistema</span>
                </div>
            </div>
        </div>
    </div>

    <h2 class="col-md-12">Estatus AP´S</h2>
    <div class="col-md-12 js-estatus-aps">
        <div class="panel-group panel-group-control content-group-lg" id="accordion-control">
            {% for nodo in nodos %}
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <a data-toggle="collapse"
                               data-parent="#accordion-control"
                               href="#accordion-control-group{{ loop.index }}"
                               aria-expanded="false"
                               class="collapsed js-estadistica-nodo"
                               data-url="{{ path('defaul.get_total_aps_por_dependencia', {
                                   'nodo': nodo
                               }) }}"
                               data-index="{{ loop.index }}"
                            >
                                {{ nodo }}
                            </a>
                        </h6>
                    </div>
                    <div id="accordion-control-group{{ loop.index }}" class="panel-collapse collapse {{ loop.index == 1 ? 'in' }}" aria-expanded="false">
                        <div class="panel-body">
                            <div>
                                <div class="panel-body">
                                    <div class="chart-container">
                                        <div id="main-{{ loop.index }}" style="width: 100%;height:400px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.0.4/echarts-en.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {

                var $wrapper = $('.js-estatus-aps'),
                    indexNodoCHH = $wrapper.find('.js-estadistica-nodo').eq(0).data('index'),
                    urlNodoCHH = $wrapper.find('.js-estadistica-nodo').eq(0).data('url');

                getEstadisticasNodo(urlNodoCHH, indexNodoCHH);

                $wrapper.on('click', '.js-estadistica-nodo', function () {
                    var urlNodo = $(this).data('url'),
                        indexNodo = $(this).data('index');
                    getEstadisticasNodo(urlNodo, indexNodo);
                });


                function getEstadisticasNodo(url, index) {
                    $.ajax({
                        url: url,
                        method: 'get'
                    }).then(function (value) {
                        new dibujarGraficaDependencias(value.dependencias, index);
                    });
                }


                function dibujarGraficaDependencias(dependencias, index) {
                    var categorias = [],
                        apsUP = [],
                        apsDOWN = [],
                        myChart = echarts.init(document.getElementById('main-' + index)),
                        option;

                    dependencias.forEach(function (value) {
                        categorias.push(value.nombre);
                        apsUP.push(value.apsup);
                        apsDOWN.push(value.apsdown);
                    });

                    option = {
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['UP', 'DOWN']
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'value',
                                boundaryGap : [0, 0.01]
                            }
                        ],
                        yAxis : [
                            {
                                type : 'category',
                                data : categorias
                            }
                        ],
                        series : [
                            {
                                name:'UP',
                                type:'bar',
                                color: 'green',
                                data: apsUP
                            },
                            {
                                name:'DOWN',
                                type:'bar',
                                color: 'red',
                                data: apsDOWN
                            }
                        ]
                    };
                    myChart.setOption(option);
                }

            });
        })(jQuery);
    </script>
{% endblock %}