{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">{{ msg }}</span>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">AP'S<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-invitado table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>IP</th>
                            <th>Mascara</th>
                            <th>Gateway</th>
                            <th>Ubicación</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ap in aps %}
                            <tr>
                                <td>{{ ap.nombre }}</td>
                                <td>{{ ap.ip }}</td>
                                <td>{{ ap.mascara }}</td>
                                <td>{{ ap.gateway }}</td>
                                <td>{{ ap.ubicacion }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">Controladoras<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-invitado table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>IP</th>
                            <th>Mascara</th>
                            <th>Gateway</th>
                            <th>Ubicación</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for controladora in controladoras %}
                            <tr>
                                <td>{{ controladora.nombre }}</td>
                                <td>{{ controladora.ip }}</td>
                                <td>{{ controladora.mascara }}</td>
                                <td>{{ controladora.gateway }}</td>
                                <td>{{ controladora.ubicacion }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">{{ msg }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">Servidores<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-invitado table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>IP</th>
                            <th>Mascara</th>
                            <th>Gateway</th>
                            <th>Ubicación</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for servidor in servidores %}
                            <tr>
                                <td>{{ servidor.nombre }}</td>
                                <td>{{ servidor.ip }}</td>
                                <td>{{ servidor.mascara }}</td>
                                <td>{{ servidor.gateway }}</td>
                                <td>{{ servidor.ubicacion }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}