{% extends 'base.html.twig' %}
{% block title %}SBYM - Alta de dependencia{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ form.vars.action }}"
                  method="{{ form.vars.method }}"
                  class="form-horizontal">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Alta de dependencia<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                    </div>

                    <div class="panel-body text-danger">
                        {{ form_errors(form) }}
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nombre<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.nombre.vars.full_name }}"
                                       id="{{ form.nombre.vars.id }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Grupo<span class="text-danger">*</span></label>
                            <div class="col-lg-9 pre-scrollable">
                                {% for child in form.grupos.children %}
                                    <div>
                                        <input type="checkbox"
                                               id="{{ child.vars.id }}"
                                               name="{{ child.vars.full_name }}"
                                               value="{{ child.vars.value }}"
                                        >
                                        <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Campus<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <select name="{{ form.campus.vars.full_name }}"
                                        id="{{ form.campus.vars.id }}"
                                        class="form-control"
                                        required
                                >
                                    {% for campus in campus %}
                                        <option value="{{ campus }}">{{ campus }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nodos<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <select name="{{ form.nodo.vars.full_name }}"
                                        id="{{ form.nodo.vars.id }}"
                                        class="form-control"
                                        required
                                >
                                    {% for nodo in nodos %}
                                        <option value="{{ nodo }}">{{ nodo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Red</label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.red.vars.full_name }}"
                                       id="{{ form.red.vars.id }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">DHCP</label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.dhcp.vars.full_name }}"
                                       id="{{ form.dhcp.vars.id }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Mascara de DHCP</label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.mdhcp.vars.full_name }}"
                                       id="{{ form.mdhcp.vars.id }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Gatawey de DHCP</label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.gwdhcp.vars.full_name }}"
                                       id="{{ form.gwdhcp.vars.id }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Vlans</label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.vlans.vars.full_name }}"
                                       id="{{ form.vlans.vars.id }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Observaciones</label>
                            <div class="col-lg-9">
                                <textarea name="{{ form.observaciones.vars.full_name }}"
                                          id="{{ form.observaciones.vars.id }}"
                                          class="form-control"
                                          cols="30"
                                          rows="6"></textarea>
                            </div>
                        </div>

                        <div class="text-right">
                            <a href="{{ path('dependencia.listar') }}" class="btn btn-danger">Cancelar<i class="position-right"></i></a>
                            <button type="submit" class="btn btn-success">Enviar<i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/dependencia/dependencia.js') }}"></script>
{% endblock %}