{% extends 'base.html.twig' %}
{% block title %}SBYM - Dependencias{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">{{ msg }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">Dependencias<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                        <div class="col-md-2 pull-right">
                            <a href="{{ path('dependencia.alta') }}" class="btn btn-success btn-block">Agregar</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Dependencia</th>
                                <th>Grupo</th>
                                <th>Campus</th>
                                <th>Nodo</th>
                                <th>Red</th>
                                <th>DHCP</th>
                                <th>Vlans</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dependencia in dependencias %}
                            <tr>
                                <td>{{ dependencia.nombre }}</td>
                                <td>
                                    {% for grupo in dependencia.grupos %}
                                        {{ grupo.nombre }},&nbsp;
                                    {% endfor %}
                                </td>
                                <td>{{ dependencia.campus }}</td>
                                <td>{{ dependencia.nodo }}</td>
                                <td>{{ dependencia.red }}</td>
                                <td>{{ dependencia.dhcp }}</td>
                                <td>{{ dependencia.vlans }}</td>
                                <td>
                                    <ul class="icons-list">
                                        <li class="text-primary-600"><a href="{{ path('dependencia.edit', {dependencia: dependencia.id}) }}"><i class="icon-pencil7"></i></a></li>
                                        <li class="text-danger-600">
                                            <a href="#"
                                               data-url="{{ path('dependencia.eliminar', {dependencia: dependencia.id}) }}"
                                               class="js-eliminar-entity"
                                            >
                                                <i class="icon-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}