{% extends 'base.html.twig' %}
{% block title %}SBYM - Editar equipo{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ form.vars.action }}"
                  method="{{ form.vars.method }}"
                  class="form-horizontal">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Editar equipos<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                    </div>

                    <div class="panel-body text-danger">
                        {{ form_errors(form) }}
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tipo equipo<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <select id="{{ form.tipoEquipo.vars.id }}"
                                        class="form-control"
                                        disabled
                                        required>
                                    {% for equipo in form.tipoEquipo.vars.choices %}
                                        {% if form.vars.value.tipoEquipo.id == equipo.value %}
                                            <option value="{{ equipo.value }}" selected>{{ equipo.label }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="hidden"
                                       name="{{ form.tipoEquipo.vars.full_name }}"
                                       value="{{ form.vars.value.tipoEquipo.id }}"
                                >
                            </div>
                        </div>

                        {% if form.vars.value.tipoEquipo.id == constant('AppBundle\\Entity\\TipoEquipo::AP') %}
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Grupo<span class="text-danger">*</span></label>
                                <div class="col-lg-9">
                                    <select name="{{ form.grupo.vars.full_name }}"
                                            id="{{ form.grupo.vars.id }}"
                                            class="form-control"
                                            required>
                                        <option value="">Selecciona una opción</option>
                                        {% for grupo in form.grupo.vars.choices %}
                                            <option value="{{ grupo.value }}" {{ form.grupo.vars.value == grupo.value ? 'selected' }}>{{ grupo.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Controladora<span class="text-danger">*</span></label>
                                <div class="col-lg-9">
                                    <select name="{{ form.controladora.vars.full_name }}"
                                            id="{{ form.controladora.vars.id }}"
                                            class="form-control"
                                            required>
                                        <option value="">Selecciona una opción</option>
                                        {% for controladora in form.controladora.vars.choices %}
                                            <option value="{{ controladora.value }}" {{ form.controladora.vars.value == controladora.value ? 'selected' }}>{{ controladora.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nombre<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.nombre.vars.full_name }}"
                                       id="{{ form.nombre.vars.id }}"
                                       value="{{ form.nombre.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">IP<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.ip.vars.full_name }}"
                                       id="{{ form.ip.vars.id }}"
                                       value="{{ form.ip.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Mascara<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.mascara.vars.full_name }}"
                                       id="{{ form.mascara.vars.id }}"
                                       value="{{ form.mascara.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Gateway<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.gateway.vars.full_name }}"
                                       id="{{ form.gateway.vars.id }}"
                                       value="{{ form.gateway.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Ubicación</label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.ubicacion.vars.full_name }}"
                                       id="{{ form.ubicacion.vars.id }}"
                                       value="{{ form.ubicacion.vars.value }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Modelo<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <select name="{{ form.modelo.vars.full_name }}"
                                        id="{{ form.modelo.vars.id }}"
                                        class="form-control"
                                        required>
                                    {% for modelo in form.modelo.vars.choices %}
                                        <option value="{{ modelo.value }}" {{ form.modelo.vars.value == modelo.value ? 'selected' }}>{{ modelo.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Estado<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <select name="{{ form.estado.vars.full_name }}"
                                        id="{{ form.estado.vars.id }}"
                                        class="form-control"
                                        required>
                                    {% for estado in form.estado.vars.choices %}
                                        <option value="{{ estado.value }}" {{ form.estado.vars.value == estado.value ? 'selected' }}>{{ estado.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Inventario<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.inventario.vars.full_name }}"
                                       id="{{ form.inventario.vars.id }}"
                                       value="{{ form.inventario.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Serie<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.serie.vars.full_name }}"
                                       id="{{ form.serie.vars.id }}"
                                       value="{{ form.serie.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">MAC<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.mac.vars.full_name }}"
                                       id="{{ form.mac.vars.id }}"
                                       value="{{ form.mac.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Marca<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <select name="{{ form.marca.vars.full_name }}"
                                        id="{{ form.marca.vars.id }}"
                                        class="form-control"
                                        required>
                                    {% for marca in form.marca.vars.choices %}
                                        <option value="{{ marca.value }}" {{ form.marca.vars.value == marca.value ? 'selected' }}>{{ marca.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Observaciones</label>
                            <div class="col-lg-9">
                                <textarea name="{{ form.observaciones.vars.full_name }}"
                                          id="{{ form.observaciones.vars.id }}"
                                          class="form-control"
                                          cols="30"
                                          rows="6">{{ form.observaciones.vars.value }}</textarea>
                            </div>
                        </div>

                        <div class="text-right">
                            {% include 'Equipo/_cancelar_btn' with {'equipo': form.vars.value} %}
                            <button type="submit" class="btn btn-success">Enviar<i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}