{% extends 'base.html.twig' %}
{% block title %}SBYM - Aps{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">{{ msg }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">Aps<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                        <div class="col-md-2 pull-right">
                            <a href="{{ path('equipo.alta', {tipoEquipo: tipoEquipo}) }}" class="btn btn-success btn-block">Agregar</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Ubicación</th>
                            <th>Dependencia</th>
                            <th>Modelo</th>
                            <th>Inventario</th>
                            <th>Serie</th>
                            <th>MAC</th>
                            <th>Marca</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for equipo in equipos %}
                            <tr>
                                <td>{{ equipo.nombre }}</td>
                                <td>{{ equipo.ubicacion }}</td>
                                <td>{{ equipo.grupo.dependencia.nombre }}</td>
                                <td>{{ equipo.modelo.nombre }}</td>
                                <td>{{ equipo.inventario }}</td>
                                <td>{{ equipo.serie }}</td>
                                <td>{{ equipo.mac }}</td>
                                <td>{{ equipo.marca.nombre }}</td>
                                <td>{{ equipo.estado.nombre }}</td>
                                <td>
                                    <ul class="icons-list">
                                        <li class="text-primary-600"><a href="{{ path('equipo.edit', {equipo: equipo.id}) }}"><i class="icon-pencil7"></i></a></li>
                                        <li class="text-danger-600">
                                            <a href="#"
                                               data-url="{{ path('equipo.eliminar', {equipo: equipo.id}) }}"
                                               class="js-eliminar-entity"
                                            >
                                                <i class="icon-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}