{% extends 'base.html.twig' %}
{% block title %}SBYM - {{ dependencia.nombre }}{% endblock %}

{% block contentArea %}

    <div class="row">
        <div class="col-md-12">
            <h2>{{ dependencia.nombre }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h3 class="panel-title col-md-8">Administradores<a class="heading-elements-toggle"><i class="icon-more"></i></a></h3>
                    </div>
                </div>
                <div class="tab-content-bordered content-group">
                    <ul class="nav nav-tabs nav-tabs-highlight nav-lg">
                        {% for contacto in dependencia.contactos %}
                            <li class="{{ loop.index == 1 ? 'active' }}"><a href="#tab-{{ loop.index }}" data-toggle="tab" aria-expanded="false">{{ contacto.nombre }}</a></li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% for contacto in dependencia.contactos %}
                            <div class="tab-pane has-padding {{ loop.index == 1 ? 'active' }}"
                                 id="tab-{{ loop.index }}"
                            >
                                <h5>Teléfono: {{ contacto.telefono }}</h5>
                                <h5>Extensión: {{ contacto.extension }}</h5>
                                <h5>Celular: {{ contacto.celular }}</h5>
                                <h5>Correo: {{ contacto.correo }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">{{ msg }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h3 class="panel-title col-md-8">AP´S<a class="heading-elements-toggle"><i class="icon-more"></i></a></h3>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Ubicación</th>
                            <th>IP</th>
                            <th>Gateway</th>
                            <th>Mascara</th>
                            <th>Modelo</th>
                            <th>Estado</th>
                            {% if is_granted('ROLE_INVITADO') != true %}
                                <th>Observaciones</th>
                                <th>Controlador</th>
                                <th>Acciones</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for ap in aps %}
                            <tr>
                                <td>{{ ap.nombre }}</td>
                                <td>{{ ap.ubicacion }}</td>
                                <td>{{ ap.ip }}</td>
                                <td>{{ ap.gateway }}</td>
                                <td>{{ ap.mascara }}</td>
                                <td>{{ ap.modelo }}</td>
                                <td>{{ ap.estado }}</td>
                                {% if is_granted('ROLE_INVITADO') != true %}
                                    <td>{{ ap.observaciones }}</td>
                                    <td>{{ ap.controladora }}</td>
                                    <td>
                                        <ul class="icons-list">
                                            <li class="text-primary-600"><a href="{{ path('equipo.edit', {equipo: ap.id}) }}"><i class="icon-pencil7"></i></a></li>
                                            <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                        </ul>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}