{% extends 'base.html.twig' %}
{% block title %}SBYM - {{ campus ~ '/' ~ nodo }}{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">{{ msg }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">{{ campus ~ '/' ~ nodo }}<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                    </div>
                </div>

                <div class="table-responsive" style="border-top: 0;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Controladoras</th>
                            <th>Total de Ap's</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dependencia in dependencias %}
                            <tr>
                                <td>
                                    <a href="{{ path('direccionamiento.dependecia_detalle', {
                                        dependencia: dependencia.id
                                    }) }}">{{ dependencia.nombre }}</a>
                                </td>
                                <td>{{ dependencia.controladoras }}</td>
                                <td>{{ dependencia.totalaps }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}