.wizard>.actions>ul>li>a[href="#cancel"] {
    background-color: #EF5350;
}

/**
    JQUERY MENTIONS INPUT
 */
.mentions-input-box {
    position: relative;
    background: #fff;
}

.mentions-input-box input {
    width: 100%;
    display: block;
    height: 36px;
    padding: 9px;
    border: 1px solid #dcdcdc;
    border-radius:3px;
    overflow: hidden;
    background: transparent;
    position: relative;
    outline: 0;
    resize: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mentions-input-box .mentions-autocomplete-list {
    display: none;
    background: #fff;
    border: 1px solid #b2b2b2;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10000;
    margin-top: -2px;

    border-radius:5px;
    border-top-right-radius:0;
    border-top-left-radius:0;

    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.mentions-input-box .mentions-autocomplete-list ul {
    margin: 0;
    padding: 0;
}

.mentions-input-box .mentions-autocomplete-list li {
    background-color: #fff;
    padding: 0 5px;
    margin: 0;
    width: auto;
    border-bottom: 1px solid #eee;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    cursor: pointer;
    list-style: none;
    white-space: nowrap;
}

.mentions-input-box .mentions-autocomplete-list li:last-child {
    border-radius:5px;
}

.mentions-input-box .mentions-autocomplete-list li > img,
.mentions-input-box .mentions-autocomplete-list li > div.icon {
    width: 16px;
    height: 16px;
    float: left;
    margin-top:5px;
    margin-right: 5px;
    -moz-background-origin:3px;

    border-radius:3px;
}

.mentions-input-box .mentions-autocomplete-list li em {
    font-weight: bold;
    font-style: none;
}

.mentions-input-box .mentions-autocomplete-list li:hover,
.mentions-input-box .mentions-autocomplete-list li.active {
    background-color: #f2f2f2;
}

.mentions-input-box .mentions-autocomplete-list li b {
    background: #ffff99;
    font-weight: normal;
}

.mentions-input-box .mentions {
    position: absolute;
    left: 1px;
    right: 0;
    top: 1px;
    bottom: 0;
    padding: 9px;
    color: #fff;
    overflow: hidden;

    white-space: pre-wrap;
    word-wrap: break-word;
}

.mentions-input-box .mentions > div {
    color: #fff;
    white-space: pre-wrap;
    width: 100%;
}

.mentions-input-box .mentions > div > strong {
    font-weight:normal;
    background: #d8dfea;
}

.mentions-input-box .mentions > div > strong > span {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
/*
    END JQUERY MENTIONS INPUT
*/

/**
    PRODUCTOS PARA PUNTO DE VENTA
 */

    .punto-venta__producto {
        position: relative;
    }

    .punto-venta__producto .precio {
        position: absolute;
        background-color: #888;
        color: #fff;
        padding: 3px;
        font-size: 0.8em;
        font-style: italic;
        word-break: break-all;
        max-width: 89%;
        z-index: 10;
    }

    .punto-venta__producto .thumb img {
        height: 120px;
        max-width: 120px;
        padding: 10px;
    }

    .navbar-default .btn-filtros {
        font-size: 15px;
        color: white;
    }

    .punto-venta--caja {
        height: 690px;
        overflow-y: auto;
        width: 100%;
    }


        .punto-venta--caja__container {
            border-bottom: 1px solid #BEBEB7;
            border-left: 1px solid #BEBEB7;
            margin: 0;
            background: #fff;
            cursor: pointer;
        }

        .punto-venta--caja__container:hover {
            background-color: #f0f0f0;
        }

            .punto-venta--caja__container .container--icon {
                height: 60px;
                text-align: center;
            }

                .punto-venta--caja__container .container--icon .iconremove {
                    position: absolute;
                    top: 60%;
                }

            .punto-venta--caja__container img {
                width: 60px;
                padding: 5px;
                margin-top: 6px;
                margin-left: 15px;
                display: inline-block;
                height: 58px;
            }

            .punto-venta--caja__container .producto {
                display: inline-block;
                width: 90%;
                position: relative;
                height: 40px;
            }

                .punto-venta--caja__container .producto__descripcion {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                .punto-venta--caja__container .producto__precio {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

        .punto-venta--caja__container .count-productos {
            position: absolute;
            top: 0;
            margin-top: 6px;
            left: 10%;
        }

.edit-car-popover {
    width: 300px;
    border: 2px solid #f0f0f0;
}
.edit-car-popover .popover-content {
    padding: 6px;
}
.edit-car-popover .edit-car-popover__container {
    position: relative;
}
.edit-car-popover .edit-car-popover__container .producto--info {
    padding: 10px;
}
.edit-car-popover .edit-car-popover__container .producto--info img {
    width: 165px;
    height: 165px;
    cursor: auto;
}
.edit-car-popover .edit-car-popover__container .producto--nombre {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(240, 240, 240, 0.89);
}
.edit-car-popover .edit-car-popover__container .tipo--ajuste {
    position: relative;
}
.edit-car-popover .edit-car-popover__container .tipo--ajuste .ajuste__tipo-ajuste {
    padding-top: 9px;
}
.edit-car-popover .edit-car-popover__container .tipo--ajuste .ajuste__return-icon {
    position: absolute;
    font-size: 22px;
    top: 0;
    margin-left: 8px;
    padding: 5px;
    left: 0;
    cursor: pointer;
}
.edit-car-popover .edit-car-popover__container .tipo--ajuste .ajuste__btn-done {
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer;
}
.edit-car-popover .popover-content--item {
    border-bottom: 1px solid #f0f0f0;
}
.edit-car-popover .popover-content--item .producto__cantidad {
    margin: 15px 0;
}
.edit-car-popover .popover-content--item .producto__cantidad div {
    padding: 0 4px;
}
.edit-car-popover .popover-content--item .producto__cantidad button {
    font-size: 25px;
    padding: 2px;
    background-color: #ffa726;
    border-color: #ffa726;
    color: #fff;
}
.edit-car-popover .popover-content--item .producto__edit-precio {
    margin: 15px 0;
}
.edit-car-popover .popover-content--item .producto__edit-precio div {
    padding: 0 8px;
}
.edit-car-popover .popover-content--item .producto__edit-precio button {
    font-size: 14px;
}
.edit-car-popover .popover-content--footer {
    margin-top: 5px;
    font-weight: bold;
    padding: 5px;
}
.edit-car-popover button {
    cursor: pointer;
}

.punto-venta-productos {
    overflow-y: scroll;
    height: 700px;
}

.punto-venta-productos-scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
    background-color: #F5F5F5;
}

.punto-venta-productos-scrollbar::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.punto-venta-productos-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/**
    FIN PRODUCTOS PARA PUNTO DE VENTA
 */

/**
    CALCULADORA
 */
.calculator__container {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.3rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.calculator {
    padding: 6px;
}

.input {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 55px;
    padding: 5px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
}

.input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators {}

.operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 52px;
    text-align: center;
    padding: 5px;
    margin: 3px 4px 10px 0;
    cursor: pointer;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

.operators div:active {
    font-weight: bold;
}

.leftPanel {
    display: inline-block;
}

.numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 52px;
    text-align: center;
    padding: 5px;
    margin: 3px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.numbers div:active {
    font-weight: bold;
}

div.equal {
    display: inline-block;
    width: 21%;
    text-align: center;
    padding: 73px 2px;
    margin: 3px 0 10px 2px;
    vertical-align: top;
}

div.equal:hover,
.operators div:hover {
    background-color: #307CF9;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #1857BB;
}

div.equal:active {
    font-weight: bold;
}

.operators div,
div.equal {
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
    transition: all .2s ease-in-out;
    border: 1px solid #3079ED;
    border-radius: 1px;
}

/**
    PRODUCTO EN CAJA
 */
.container-caja {
    background-color: rgba(251, 251, 251, 0.52);
    border-right: 1px solid #dadada;
    height: 550px;
    overflow-y: auto;
}

.container-caja-pago {
    position: relative;
    height: 550px;
}

.container__producto-caja {
    border-bottom: 1px solid #e4e4e4;
}
.container__producto-caja .producto-caja {
    width: 100%;
}
.container__producto-caja .producto-caja .caja__imagen {
    position: relative;
    display: inline-block;
}
.container__producto-caja .producto-caja .caja__imagen img {
    width: 65px;
    height: 58px;
}
.container__producto-caja .producto-caja .caja__imagen span {
    position: absolute;
    left: 0;
    top: 0;
}
.container__producto-caja .producto-caja .caja__descripcion {
    display: inline-block;
}
.container__producto-caja .producto-caja .caja__descripcion p {
    position: relative;
    height: 41px;
}
.container__producto-caja .producto-caja .caja__descripcion p .descripcion__categoria {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
}
.container__producto-caja .producto-caja .caja__descripcion p .descripcion__precio-total {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 13px;
}
/**
    FIN PRODUCTO EN CAJA
 */

/*
PAGINATION EN PUNTO DE VENTA
 */

.punto-venta__aciones .pagination > .active > a,
.punto-venta__aciones .pagination > .active > span,
.punto-venta__aciones .pagination > .active > a:hover,
.punto-venta__aciones .pagination > .active > span:hover,
.punto-venta__aciones .pagination > .active > a:focus,
.punto-venta__aciones .pagination > .active > span:focus {
    background-color: #ffa726;
    border-color: #ffa726;
}

/** FIN */

/** ORDENES COMPONENT */
.container-detalle-orden {
    width: 100%;
}
.container-detalle-orden .detalle-orden__header {
    width: 100%;
    text-align: center;
    padding: 10px;
}
.container-detalle-orden .detalle-orden__header h2 {
    color: blue;
    font-size: 42px;
}
.container-detalle-orden .detalle-orden__header p {
    margin: 0;
    font-size: 14px;
}
.container-detalle-orden .detalle-orden__header p span {
    font-weight: bold;
}
.container-detalle-orden .detalle-orden__body {
    width: 100%;
}
.container-detalle-orden .detalle-orden__body .body__productos {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}
.container-detalle-orden .detalle-orden__body .body__productos .productos-header div, .container-detalle-orden .detalle-orden__body .body__productos .productos-body div {
    display: inline-block;
    width: 10%;
    padding: 5px;
}
.container-detalle-orden .detalle-orden__body .body__productos .productos-header .productos_nombre, .container-detalle-orden .detalle-orden__body .body__productos .productos-body .productos_nombre {
    width: 55%;
}
.container-detalle-orden .detalle-orden__body .body__productos .productos-header {
    background-color: #f1f1f1;
    font-weight: bold;
}
.container-detalle-orden .detalle-orden__body .body__productos .productos-body {
    font-size: 14px;
}
.container-detalle-orden .detalle-orden__body .productos-footer {
    float: right;
    width: 40%;
    margin: 10px 0;
}
.container-detalle-orden .detalle-orden__body .productos-footer p {
    margin: 0;
    position: relative;
}
.container-detalle-orden .detalle-orden__body .productos-footer p span {
    position: absolute;
    right: 0;
}
.container-detalle-orden .detalle-orden__footer {
    width: 100%;
}

.listar-orden {
    background-color: white;
}

.listar-orden:hover {
    background-color: #f1f1f1;
}

/** FIN */

.daterangepicker.dropdown-menu {
    z-index: 5000;
}

legend {
 text-transform: none;
}

.modal.in.modal-position-bottom-right .modal-dialog{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
}

.comments-container .content:first-child {
    padding-top: 0;
}

.comments-container .content {
    padding: 0;
}

.commenting-field.main{
    margin-left: 8px;
}

.jquery-comments i.fa {
    width: 2em !important;
    height: 2.1em !important;;
}

.jquery-comments ul.main li.comment .child-comments .profile-picture {
    width: 3.6rem !important;
    height: 3.6rem !important;
}

.punto-venta-header-movil {
    display: none;
}

.font-size-18x {
    font-size: 18px !important;
}

.opacity-2x {
    opacity: .2;
}

@media (min-device-width: 769px) {
    .navbar-collapse.collapse.punto-venta-navbar-mobile {
        display: none !important;
    }
}

@media (max-width: 990px) {
    .punto-venta-footer,
    .punto-venta-productos-canasta,
    .punto-venta-header {
        display: none;
    }
    .punto-venta-header-movil {
        display: block;
    }
    .navbar-brand-punto-venta {
        display: none;
    }
    .punto-venta-productos-pagination {
        display: block;
    }
    .punto-venta-productos {
        overflow-y: hidden;
        height: auto;
    }
}