<div class="navbar navbar-inverse navbar-fixed-top header-highlight" style="background-color: #003D79 !important;">

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png"
                         alt="Goku">
                    <span>{{ app.user.nombre ~ ' (' ~ app.user.rol.nombre ~ ')' }}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="divider"></li>
                    <li><a href="{{ path('logout') }}"><i class="icon-switch2"></i> Salir</a></li>
                </ul>
            </li>

        </ul>

    </div>

</div>