<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
            <li><a href="{{ path('default.index') }}"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            <li>
                <a href="#"><i class="icon-tree6"></i> <span>Direccionamiento</span></a>
                <ul>
                    <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/CCH/CCH' ? 'active' }}">
                        <a href="{{ path('direccionamiento', {
                            'campus': 'CCH',
                            'nodo': 'CCH'
                        }) }}">
                            <i class="icon-lan2"></i> <span>CCH</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-lan2"></i> <span>CU</span>
                        </a>
                        <ul>
                            <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/CU/ARQ' ? 'active' }}">
                                <a href="{{ path('direccionamiento', {
                                    'campus': 'CU',
                                    'nodo': 'ARQ'
                                }) }}">Arquitectura</a>
                            </li>
                            <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/CU/DGTIC' ? 'active' }}">
                                <a href="{{ path('direccionamiento', {
                                    'campus': 'CU',
                                    'nodo': 'DGTIC'
                                }) }}">DGTIC</a>
                            </li>
                            <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/CU/IIMAS' ? 'active' }}">
                                <a href="{{ path('direccionamiento', {
                                    'campus': 'CU',
                                    'nodo': 'IIMAS'
                                }) }}">IIMAS</a>
                            </li>
                            <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/CU/ZC' ? 'active' }}">
                                <a href="{{ path('direccionamiento', {
                                    'campus': 'CU',
                                    'nodo': 'ZC'
                                }) }}">Zona cultural</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/ENP/ENP' ? 'active' }}">
                        <a href="{{ path('direccionamiento', {
                            'campus': 'ENP',
                            'nodo': 'ENP'
                        }) }}">
                            <i class="icon-lan2"></i> <span>ENP</span>
                        </a>
                    </li>
                    <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/EXT/EXT' ? 'active' }}">
                        <a href="{{ path('direccionamiento', {
                            'campus': 'EXT',
                            'nodo': 'EXT'
                        }) }}">
                            <i class="icon-lan2"></i> <span>Externos</span>
                        </a>
                    </li>
                    <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/FES/FES' ? 'active' }}">
                        <a href="{{ path('direccionamiento', {
                            'campus': 'FES',
                            'nodo': 'FES'
                        }) }}">
                            <i class="icon-lan2"></i> <span>FES</span>
                        </a>
                    </li>
                    <li class="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) == '/direccionamiento/FOR/FOR' ? 'active' }}">
                        <a href="{{ path('direccionamiento', {
                            'campus': 'FOR',
                            'nodo': 'FOR'
                        }) }}">
                            <i class="icon-lan2"></i> <span>Foranos</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% if is_granted('ROLE_INVITADO') != true %}
                <li>
                    <a href="#"><i class="icon-server"></i> <span>Inventario</span></a>
                    <ul>
                        <li class="{{ app.request.attributes.get('_route') == 'contacto.listar' ? 'active' }}">
                            <a href="{{ path('contacto.listar') }}">
                                <i class="icon-user-tie"></i> <span>Administradores</span>
                            </a>
                        </li>
                        <li class="{{ app.request.attributes.get('_route') == 'aps.listar' ? 'active' }}">
                            <a href="{{ path('aps.listar') }}">
                                <i class="icon-connection"></i> <span>AP'S</span>
                            </a>
                        </li>
                        <li class="{{ app.request.attributes.get('_route') == 'controladoras.listar' ? 'active' }}">
                            <a href="{{ path('controladoras.listar') }}">
                                <i class="icon-drive"></i> <span>Controladoras</span>
                            </a>
                        </li>
                        <li class="{{ app.request.attributes.get('_route') == 'dependencia.listar' ? 'active' }}">
                            <a href="{{ path('dependencia.listar') }}">
                                <i class="icon-library2"></i> <span>Dependencias</span>
                            </a>
                        </li>
                        <li class="{{ app.request.attributes.get('_route') == 'escritorio.listar' ? 'active' }}">
                            <a href="{{ path('escritorio.listar') }}">
                                <i class="icon-display"></i> <span>Escritorio</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_BECARIO') != true %}
                            <li class="{{ app.request.attributes.get('_route') == 'usuario.listar' ? 'active' }}">
                                <a href="{{ path('usuario.listar') }}">
                                    <i class="icon-users4"></i> <span>Usuarios</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_INVITADO') != true %}
                <li><a href="{{ path('repositorio.listar') }}"><i class="icon-cloud-upload2"></i> <span>Repositorio</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_INVITADO') != true or is_granted('ROLE_BECARIO') != true %}
                <li><a href="{{ path('bitacora.listar') }}"><i class="icon-notebook"></i> <span>Bitacora</span></a></li>
            {% endif %}
            <!-- /appearance -->
        </ul>
    </div>
</div>
<!-- /main navigation -->
