<div class="sidebar-user">
    <div class="category-content">
        <div class="media text-center">
            <img src="{{ asset('assets/images/riu14-1.png') }}"
                 alt="Riu">
        </div>
    </div>
</div>