{% extends 'base.html.twig' %}
{% block title %}SBYM - Alta usuario{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ form.vars.action }}"
                  method="{{ form.vars.method }}"
                  class="form-horizontal">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Editar usuario<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                    </div>

                    <div class="panel-body text-danger">
                        {{ form_errors(form) }}
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nombre<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.nombre.vars.full_name }}"
                                       id="{{ form.nombre.vars.id }}"
                                       value="{{ form.nombre.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Usuario<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.usuario.vars.full_name }}"
                                       id="{{ form.usuario.vars.id }}"
                                       value="{{ form.usuario.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Contraseña<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="password"
                                       name="{{ form.plainPassword.first.vars.full_name }}"
                                       id="{{ form.plainPassword.first.vars.id }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Repetir contraseña<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="password"
                                       name="{{ form.plainPassword.second.vars.full_name }}"
                                       id="{{ form.plainPassword.second.vars.id }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Rol<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                {% for rol in form.rol.vars.choices %}
                                    <label class="radio-inline">
                                        <input type="radio"
                                               name="{{ form.rol.vars.full_name }}"
                                               id="{{ form.rol.vars.id }}_{{ loop.index }}"
                                               value="{{ rol.value }}"
                                                {{ form.rol.vars.value == rol.value ? 'checked' }}
                                               required
                                        >
                                        {{ rol.label }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="text-right">
                            <a href="{{ path('usuario.listar') }}" class="btn btn-danger">Cancelar<i class="position-right"></i></a>
                            <button type="submit" class="btn btn-success">Enviar<i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}