{% extends 'base.html.twig' %}
{% block title %}SBYM - Editar archivo{% endblock %}

{% block contentArea %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ form.vars.action }}"
                  method="{{ form.vars.method }}"
                  class="form-horizontal"
                  enctype="multipart/form-data"
            >
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Editar de archivo<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                    </div>

                    <div class="panel-body text-danger">
                        {{ form_errors(form) }}
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nombre<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text"
                                       name="{{ form.nombre.vars.full_name }}"
                                       id="{{ form.nombre.vars.id }}"
                                       value="{{ form.nombre.vars.value }}"
                                       class="form-control"
                                       required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tipo de archivo<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                {{ form_widget(form.tipoArchivo, {
                                    'attr': {
                                        'class': 'form-control'
                                    }
                                }) }}
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-3 control-label">Archivo<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="file"
                                       name="{{ form.file.vars.full_name }}"
                                       class="form-control"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Archivo actual<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <a href="{{ asset('uploads/archivos/' ~ form.vars.value.url) }}"
                                   download=""
                                >
                                    {{ form.vars.value.nombre }}
                                </a>
                            </div>
                        </div>

                        <div class="text-right">
                            <a href="{{ path('repositorio.listar') }}" class="btn btn-danger">Cancelar<i class="position-right"></i></a>
                            <button type="submit" class="btn btn-success">Enviar<i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}