{% extends 'base.html.twig' %}
{% block title %}SBYM - Repositorio{% endblock %}

{% macro tablaArchivos(archivos) %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for archivo in archivos %}
                <tr>
                    <td>
                        <a href="{{ asset('uploads/archivos/' ~ archivo.url) }}" download>
                            {{ archivo.nombre }}
                        </a>
                    </td>
                    <td class="col-md-2">
                        <ul class="icons-list">
                            <li class="text-primary-600"><a href="{{ path('repositorio.edit', {
                                    'archivo': archivo.id
                                }) }}"><i class="icon-pencil7"></i></a></li>
                            <li class="text-danger-600">
                                <a href="#"
                                   data-url="{{ path('repositorio.eliminar', {
                                       'archivo': archivo.id
                                   }) }}"
                                   class="js-eliminar-entity"
                                >
                                    <i class="icon-trash"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% block contentArea %}

    {% import _self as forms %}

    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">{{ msg }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="panel-title col-md-8">Repositorio<a class="heading-elements-toggle"><i class="icon-more"></i></a></h2>
                        <div class="col-md-2 pull-right">
                            <a href="{{ path('repositorio.alta') }}" class="btn btn-success btn-block">Agregar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel-group panel-group-control panel-group-control-right content-group-lg" id="accordion-control-right">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-1">
                                        {{ tipoArchivo.0.nombre }} <small>{{ tipoArchivo.0.descripcion }}</small>
                                    </a>
                                </h6>
                            </div>
                            <div id="accordion-control-right-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    {{ forms.tablaArchivos(tipoArchivo.0.archivos) }}
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-2">
                                        {{ tipoArchivo.1.nombre }} <small>{{ tipoArchivo.1.descripcion }}</small>
                                    </a>
                                </h6>
                            </div>
                            <div id="accordion-control-right-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ forms.tablaArchivos(tipoArchivo.1.archivos) }}
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-3">
                                        {{ tipoArchivo.2.nombre }} <small>{{ tipoArchivo.2.descripcion }}</small>
                                    </a>
                                </h6>
                            </div>
                            <div id="accordion-control-right-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ forms.tablaArchivos(tipoArchivo.2.archivos) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel-group panel-group-control panel-group-control-right content-group-lg" id="accordion-control-left">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-control-left" href="#accordion-control-left-1">
                                        {{ tipoArchivo.3.nombre }} <small>{{ tipoArchivo.3.descripcion }}</small>
                                    </a>
                                </h6>
                            </div>
                            <div id="accordion-control-left-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ forms.tablaArchivos(tipoArchivo.3.archivos) }}
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-left" href="#accordion-control-left-2">
                                        {{ tipoArchivo.4.nombre }}
                                        <small>{{ tipoArchivo.4.descripcion }}</small>
                                    </a>
                                </h6>
                            </div>
                            <div id="accordion-control-left-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ forms.tablaArchivos(tipoArchivo.4.archivos) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}