<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SBYM - Login{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/icons/icomoon/styles.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/components.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/colors.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/extras/animate.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/core.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body class="login-container  pace-done login-cover" style="background-image: url({{ asset('assets/images/cu.jpg') }});">
    <div class="navbar navbar-inverse" style="background-color: #003D79 !important;">
        <div class="navbar-header">
            <a class="ml-5" href="{{ path('login') }}"><img src="{{ asset('assets/images/logo_unam.png') }}" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" style="background-color: #003D79 !important;" id="navbar-mobile">
            <a class="mr-5 navbar-brand pull-right mt-20" href="{{ path('login') }}">
                <img src="{{ asset('assets/images/dgtic_logo.png') }}"
                     alt=""
                >
            </a>
        </div>
    </div>

    <div class="page-container" style="min-height:917px">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <!-- Simple login form -->
                    <form action="{{ path('login') }}" method="post">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-indigo-300 text-indigo-300"><i class="icon-reading bg-indigo-700"></i></div>
                                <h5 class="content-group">Login <small class="display-block">Ingresa tus credenciales</small></h5>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="text" class="form-control" name="_username" placeholder="Usuario">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" name="_password" placeholder="Contraseña">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            {% if error %}
                                <div class="alert alert-danger no-border">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    <span class="text-semibold">{{ error.message|replace({"Bad credentials": "Credenciales invalidas"}) }}</span>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <button type="submit" class="btn btn-block text-white text-bold" style="background-color: #D59F0F">Ingresar <i class="icon-circle-right2 position-right"></i></button>
                            </div>
                        </div>
                    </form>
                    <!-- /simple login form -->


                    <!-- Footer -->
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>

</body>

</html>